<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a8b486fd44.js" crossorigin="anonymous"></script>

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

    <title>CheapShop</title>
  </head>
  <body>

    <header><!-- Inicio cabecalho -->
      <nav class="navbar navbar-expand-sm navbar-light bg-warning">

        <div class="container">
          
          <a href="/" class="navbar-brand">
            <img src="img/logo.png" width="142">
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Início</a>
              </li>
              <li class="nav-item">
                <a href="/produtos" class="nav-link">Produtos</a>
              </li>
              <li class="nav-item">
                <a href="/listaCompras" class="nav-link">Lista de compras</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Preços</a>
              </li>
              <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-light ml-4">Logout</button>
                </form>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header><!-- fim cabecalho -->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
          <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
              <a class="page-link" href="/produtos?offset=<%= (page-2)*30 %>">Anterior</a>
          </li>
          <% if (Math.ceil(total/30)<=5) { %>
            <% for (var i = 1; i <= Math.ceil(total/30); i++) { %>
              <li class="page-item <%= i === page ? 'active' : '' %>">
                  <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
              </li>
            <% } %>
          <% } else { %>
            <% if (page - 2 > 0 && page + 2 < Math.ceil(total/30)) { %>
              <% for (var i = page - 2; i < page + 2; i++) { %>
                <li class="page-item <%= i === page ? 'active' : '' %>">
                    <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                </li>
              <% } %>
            <% } %>
            <% if (page + 2 > Math.ceil(total/30)) { %> 
              <% for (var i = page - 2; i < Math.ceil(total/30); i++) { %>
                <li class="page-item <%= i === page ? 'active' : '' %>">
                    <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                </li>
              <% } %>
            <% } %> 
            <% if (page - 2 <= 0) { %> 
              <% for (var i = 1; i <= 5; i++) { %>
                <li class="page-item <%= i === page ? 'active' : '' %>">
                    <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                </li>
              <% } %>
            <% } %> 
          <% } %>
          <li class="page-item <%= page === Math.ceil(total/30) ? 'disabled' : '' %>">
              <a class="page-link" href="/produtos?offset=<%= (page)*30 %>">Próximo</a>
          </li>
      </ul>
  </nav>

    <div class="container">
      <div class="row">
          <% for(var i=0; i<products.length; i++) { %>
              <div class="col-sm-4">
                  <div class="card">
                      <a href="<%= products[i].LinkImagem %>"><img src="<%= products[i].LinkImagem %>" class="card-img-top"></a>
                      <div class="card-body">
                          <a href="/produtos/<%=products[i].EAN%>""><h5 class="card-title"><%= products[i].Nome %></h5></a>
                          <% if(products[i].Promo != null) { %> 
                            <p class="card-text">Preço: <%= products[i].Promo %> €</p>
                          <% }else { %> 
                            <p class="card-text">Preço: <%= products[i].PrecoPrim %> €</p>
                          <% } %> 
                          <!--<p class="card-text">Supermercado: <%= products[i].superficie_IDsup %></p>-->
                      </div>
                  </div>
              </div>
          <% } %>
      </div>
    </div>
  
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="/produtos?offset=<%= (page-2)*30 %>">Anterior</a>
            </li>
            <% if (Math.ceil(total/30)<=5) { %>
              <% for (var i = 1; i <= Math.ceil(total/30); i++) { %>
                <li class="page-item <%= i === page ? 'active' : '' %>">
                    <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                </li>
              <% } %>
            <% } else { %>
              <% if (page - 2 > 0 && page + 2 < Math.ceil(total/30)) { %>
                <% for (var i = page - 2; i < page + 2; i++) { %>
                  <li class="page-item <%= i === page ? 'active' : '' %>">
                      <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                  </li>
                <% } %>
              <% } %>
              <% if (page + 2 > Math.ceil(total/30)) { %> 
                <% for (var i = page - 2; i < Math.ceil(total/30); i++) { %>
                  <li class="page-item <%= i === page ? 'active' : '' %>">
                      <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                  </li>
                <% } %>
              <% } %> 
              <% if (page - 2 <= 0) { %> 
                <% for (var i = 1; i <= 5; i++) { %>
                  <li class="page-item <%= i === page ? 'active' : '' %>">
                      <a class="page-link" href="/produtos?offset=<%= (i-1)*30 %>"><%= i %></a>
                  </li>
                <% } %>
              <% } %> 
            <% } %>
            <li class="page-item <%= page === Math.ceil(total/30) ? 'disabled' : '' %>">
                <a class="page-link" href="/produtos?offset=<%= (page)*30 %>">Próximo</a>
            </li>
        </ul>
    </nav>
  
    

    <footer class="mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>
              <a href="/">Início</a>
              <a href="/produtos">Produtos</a>
              <a href="/listaCompras">Lista de compras</a>
              <a href="">Preços</a>
            </p>
          </div>
          <!--<div class="col-md-4 d-flex justify-content-end">
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-youtube"></i>
            </a>
          </div>-->
        </div>
      </div>
    </footer>

    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>